/* Simple reset */
* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Helvetica neue';
  padding: 0;
  
}

html, body {
  height: 100%;
  width: 100%;
  background-color:#E8E8E8 ;
}

.boss {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.parent{
  height: 100%;
  width: 100%;
  padding: 30px;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  gap: 20px;
}

.card{
  height: 350px;
  width: 300px;
  background-color: #ffffff;
  border-radius: 30px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .top {
  display: flex;
  margin: 20px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  
}

.top img{
  height: 45px;
  width:  45px;
  border: 2px solid #dadada;
  border-radius: 50%;
  padding: 2px;
}

.top button {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding: 4px 6px;
  border: 1px solid #dadada;
  font-size: 13px;
  gap: 3px;
  background-color: transparent;
  color: #b1b1b1;
}


.middle h3 {
  font-size: 18px;
  font-weight: 500;
}

.middle h3 span {
  color: #b1b1b1;
  font-weight: 400;
  font-size: 14px;
}

.middle h1 {
  font-size: 20px;
}

.middle .tag{
  margin-top: 10px;
  display: flex;
  gap: 5px;
}

.middle .tag h4{
  font-size: 14px;
  font-weight: normal;;
  border-radius: 5px;
  background-color: #dadada;
  padding: 3px 6px;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1.5px solid #dadadace;
  padding-top: 10px;
}

.bottom button{
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #000000;
  color: #ffffff;
  ;
}
.bottom h3{
  font-size: 16px;
}

.bottom p {
  font-size: 14px;
  color: #8b8b8b;
}