body {
  background-color: aliceblue;
  margin: 20px;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.parent {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  gap: 20px;

}
.card{
  padding: 20px;
  width: 300px;
  text-align: center;
  border-radius: 10px;
  border: 5px solid white;
  background-color: #333;
  color: white;

}

.card button {
  border-radius: 5px solid;
  background-color: white;
}
.card p {
  margin: 20px 0;
}
.card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}