.content{
  padding: 10px 20px;
  margin: 20px;
  background-color: lightcoral;
  border-radius: 15px;
  border: 2px dotted black;
}

.btn{
    background-color: red;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px;
}