.header {
  background-color: antiquewhite;
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: space-between;

  border-bottom: 3px solid darkgray;
}

button {
  background-color: tan;
}

.logo {
  text-decoration: underline;
}