/* Simple reset */
* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Helvetica neue';
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  background: #000000;
  color: #e9baba;
}

/* Example container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

input,button {
  margin: 45px;  
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
}